<!DOCTYPE html>
{% load staticfiles %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/sites.css' %}">
    <link rel="stylesheet" href="{% static 'css/fancybox.css' %}">
    <link rel="stylesheet" href="{% static 'css/social-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}">


<html>

	<head>
		<title>Sign Up - SMART CITY</title><meta property="og:site_name" content="SMART CITY" />
<meta property="og:title" content="Sign Up" />
<meta property="og:description" content="SMART CITY" />
<meta property="og:image" content="http://smartcityproject.weebly.com/uploads/1/1/2/5/112580803/513255077_orig.jpg" />
<meta property="og:url" content="http://smartcityproject.weebly.com/sign-up.html" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link id="wsite-base-style" rel="stylesheet" type="text/css" href="css/sites.css" />
<link rel="stylesheet" type="text/css" href="css/fancybox.css" />
<link rel="stylesheet" type="text/css" href="css/social-icons.css" media="screen,projection" />
<link rel="stylesheet" type="text/css" href="css/main_style.css" title="wsite-theme-css" />
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
<style type='text/css'>
.wsite-elements.wsite-not-footer:not(.wsite-header-elements) div.paragraph, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) p, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-block .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-description, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
#wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
.wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label{}
.wsite-elements.wsite-not-footer:not(.wsite-header-elements) h2, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-long .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-large .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
#wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
.wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title{}
#wsite-title {color:#d5d5d5 !important;letter-spacing: 5px !important;}
.wsite-menu-default a {text-transform:  uppercase !important;letter-spacing: 2px !important;}
.wsite-menu a {}
.wsite-image div, .wsite-caption {}
.galleryCaptionInnerText {}
.fancybox-title {}
.wslide-caption-text {}
.wsite-phone {}
.wsite-headline,.wsite-header-section .wsite-content-title {font-family:"Montserrat" !important;}
.wsite-headline-paragraph,.wsite-header-section .paragraph {text-transform:  none !important;letter-spacing: 0px !important;}
.wsite-button-inner {text-transform:  none !important;}
.wsite-not-footer blockquote {}
.wsite-footer blockquote {}
.blog-header h2 a {}
#wsite-content h2.wsite-product-title {}
.wsite-product .wsite-product-price a {}
.wsite-button-large .wsite-button-inner {font-size:13px !important;}
@media screen and (min-width: 767px) {.wsite-elements.wsite-not-footer:not(.wsite-header-elements) div.paragraph, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) p, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-block .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-description, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
#wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
.wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label{}
.wsite-elements.wsite-not-footer:not(.wsite-header-elements) h2, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-long .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-large .product-title, .wsite-elements.wsite-not-footer:not(.wsite-header-elements) .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
#wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
.wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title{}
#wsite-title {font-size:20px !important;}
.wsite-menu-default a {}
.wsite-menu a {}
.wsite-image div, .wsite-caption {}
.galleryCaptionInnerText {}
.fancybox-title {}
.wslide-caption-text {}
.wsite-phone {}
.wsite-headline,.wsite-header-section .wsite-content-title {font-size:48px !important;}
.wsite-headline-paragraph,.wsite-header-section .paragraph {font-size:14px !important;line-height:10px !important;}
.wsite-button-inner {}
.wsite-not-footer blockquote {}
.wsite-footer blockquote {}
.blog-header h2 a {}
#wsite-content h2.wsite-product-title {}
.wsite-product .wsite-product-price a {}
}</style>
	</head>
	<body class="header-page  wsite-page-sign-up  full-width-body-off header-overlay-on alt-nav-off  wsite-theme-light"><div class="wrapper">
    <div class="birdseye-header">
      <div class="nav-wrap">
        <div class="container">
          <div class="logo"><span class="wsite-logo">
	<a href='main:index'><span id="wsite-title">SMART CITY</span></a>
</span></div>
<div class="nav desktop-nav"><ul class="wsite-menu-default">
<li id="active" class="wsite-menu-item-wrap">
<a href='main:index' class="wsite-menu-item">Home</a>
</li>
<li id="pg595672417440186405" class="wsite-menu-item-wrap">
<a href='/contact/' class="wsite-menu-item">Contact</a>
</li>
<li id="pg831912100138126710" class="wsite-menu-item-wrap">
	<a href="/users/login/" class="wsite-menu-item">Log In</a>
</li>
<li id="pg828524256407165843" class="wsite-menu-item-wrap">
<a href="/users/register/" class="wsite-menu-item">Sign Up</a>
</li>
</ul>
</div>
          <label class="hamburger"><span></span></label>
        </div>
      </div>
    </div>
    <div class="banner-wrap">
      <div class="wsite-elements wsite-not-footer wsite-header-elements">
	<div class="wsite-section-wrap">
	<div  class="wsite-section wsite-header-section wsite-section-bg-image" style="height: 575px;background-image: url({% static 'img/Bridge.jpg' %}) ;background-repeat: no-repeat ;background-position: 50% 50% ;background-size: 100% ;background-color: transparent ;background-size: cover;" >
		<div class="wsite-section-content">
          <div class="container">
            <div class="banner">
				<div class="wsite-section-elements">
					<h2 class="wsite-content-title"><strong>Let's get started!</strong></h2>
<div class="wsite-spacer" style="height:70px;"></div>
				</div>
			</div>
          </div>
		</div>
		<div class=""></div>
	</div>
</div>
</div>
    </div>
    <div class="main-wrap">
      <div id="wsite-content" class="wsite-elements wsite-not-footer">
	<div class="wsite-section-wrap">
	<div class="wsite-section wsite-body-section wsite-section-bg-color wsite-background-5" style="height: 365px;background-color: #f8f8f8;background-image: none;is_customized: 1;" >
		<div class="wsite-section-content">
          <div class="container">
			<div class="wsite-section-elements">
				<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
<div>

    <!--

				<form enctype="multipart/form-data" action="//www.weebly.com/weebly/apps/formSubmit.php"
				method="POST" id="form-194556946642123232">
					<div id="194556946642123232-form-parent" class="wsite-form-container"
					style="margin-top:10px;">
						<ul class="formlist" id="194556946642123232-form-list">
							<h2 class="wsite-content-title">Create an Account</h2>
							<h2 class="wsite-content-title"><a href="index.html"><font color="#5cbce0">Already have an account? Click Here</font></a></h2>




				<div class="wsite-form-input-container wsite-form-left wsite-form-input-first-name">
					<input id="input-524755195742388066" class="wsite-form-input wsite-input" type="text" name="_u524755195742388066[first]" />
					<label class="wsite-form-sublabel" for="input-524755195742388066">First</label>
				</div>
				<div class="wsite-form-input-container wsite-form-right wsite-form-input-last-name">
					<input id="input-524755195742388066-1" class="wsite-form-input wsite-input" type="text" name="_u524755195742388066[last]" />
					<label class="wsite-form-sublabel" for="input-524755195742388066-1">Last</label>
				</div>
				<div id="instructions-524755195742388066" class="wsite-form-instructions" style="display:none;"></div>
			</div>
			<div style="clear:both;"></div></div>
<div><div class="wsite-form-field" style="margin:5px 0px 5px 0px;">
				<label class="wsite-form-label" for="input-218430487271071119">Email <span class="form-required">*</span></label>
				<div class="wsite-form-input-container">
					<input id="input-218430487271071119" class="wsite-form-input wsite-input wsite-input-width-370px" type="text" name="_u218430487271071119" />
				</div>
				<div id="instructions-218430487271071119" class="wsite-form-instructions" style="display:none;"></div>
			</div></div>
<div><div class="wsite-form-field" style="margin:5px 0px 5px 0px;">
				<label class="wsite-form-label" for="input-883597733216038106">Comment <span class="form-required">*</span></label>
				<div class="wsite-form-input-container">
					<textarea id="input-883597733216038106" class="wsite-form-input wsite-input wsite-input-width-370px" name="_u883597733216038106" style="height: 200px"></textarea>
				</div>
				<div id="instructions-883597733216038106" class="wsite-form-instructions" style="display:none;"></div>
			</div></div>
						</ul>
					</div>
					<div style="display:none; visibility:hidden;">
						<input type="text" name="wsite_subject" />
					</div>
					<div style="text-align:left; margin-top:10px; margin-bottom:10px;">
						<input type="hidden" name="form_version" value="2" />
						<input type="hidden" name="wsite_approved" id="wsite-approved" value="approved" />
						<input type="hidden" name="ucfid" value="194556946642123232" />
						<input type="hidden" name="recaptcha_token"/>
						<input type="submit" style="position:absolute;top:0;left:-9999px;width:1px;height:1px" />
						<a class="wsite-button">
							<span class="wsite-button-inner"></span>
						</a>
					</div>
				</form>

    -->
    <div><div class="wsite-form-field wsite-name-field" style="margin:5px 0px 5px 0px;">
    <div><div class="wsite-form-field wsite-name-field" style="margin:5px 0px 5px 0px;">



    <form method = 'post' action="{% url 'users:register' %}">
            {% csrf_token %}

            {{ form.as_p }}
            {{ RegisterForm.as_p }}


        <button name = 'submit'>register</button>
        <input type = 'hidden' name = 'next' value="{% url 'main:index' %}" />
    </form>






				<div id="g-recaptcha-194556946642123232" class="recaptcha" data-size="invisible" data-recaptcha="0" data-sitekey="6Ldf5h8UAAAAAJFJhN6x2OfZqBvANPQcnPa8eb1C"></div>
			</div>
				</td>				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">
<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:right">
<a>
<img src={% static 'img/orig2.jpg' %} alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>
			</div>
		</div>
      </div>
	</div>
</div>
</div>
    </div>
</div>
<span class="cc_links" style="display:block;margin:1em 0 0;padding:0 0 1em;font-size:.8em">
<a href="http://www.flickr.com/photos/134661509@N08/37100232046" target="_blank"></a>
</span></div>
    </div><!-- end footer-wrap -->
  </div><!-- /.wrapper -->
	</body>
</html>
