{% extends 'main/base.html' %}

{% block content %}

<html>

<body>

<div class="container">
  <h2> FAQ </h2>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#q1">How do I see what other user types can view</button>
  <div id="q1" class="collapse">
    Down the bottom of the page you will see links to business, student and tourist web pages.  Click the one you want to see.
  </div>
</div>


<div class="container">
  <h2> </h2>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#q2">Question 2</button>
  <div id="q2" class="collapse">
    Here is an answer to question 2
  </div>
</div>


<div class="container">
    <h2> </h2>

  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#q3">Question 3</button>
  <div id="q3" class="collapse">
    Here is an answer to question 3
  </div>
</div>

                            Hello, {{ user.username }}

                              {{ user.userprofile.user_type }}



</body>
</html>
















{% endblock content %}

